{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43724825-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43724825-3');
    </script>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Po-Wen Kao - Embedded Engineer</title>
	<meta name="description" content="Embedded Systems Engineer, Embedded System, C++, C, Python, Java, Android, iOS, AR, Unity">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'cv/css/default.css'%}">
    <link rel="stylesheet" href="{% static 'cv/css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'cv/css/media-queries.css'%}">
    <link rel="stylesheet" href="{% static 'cv/css/magnific-popup.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'cv/js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner ">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Po-Wen Kao</h1>
             <div class="row">
                <h3> Embedded Systems Engineer </h3>
             </div>
            <ul class="social">
               <li><a href="https://www.linkedin.com/in/powen-kao/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://gitlab.com/hp5588" target="_blank"><i class="fa fa-gitlab"></i></a></li>
            </ul>
         </div>
      </div>

   </header> <!-- Header End -->


   <!-- Docker Section
   ================================================== -->
   <section id="docker">
       <div class="row">
           <div class="twelve columns">
               <h3>Site deployed from my <a href="https://hub.docker.com/r/hp5588/cv-kao">Docker Hub</a> using free GCP VM</h3>
           </div>
       </div>
   </section>

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns no-padding">

            <img class="profile-pic"  src="{% static 'cv/images/profilepic.jpg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p> Enjoy exploring latest technology and trying out new potentials. Having solid experience in programming, I built up various hobby projects in IoT applications and apps on iOS/Android.
                It has always been a pleasure to program microcontroller with internet connectivity that makes life easier. Docker then became one of my favourite tools on backend deployment.
                At this point, I was fascinated by beauty of embedded system and further joined master program in Uni Freiburg in 2018.
                Later in 2019, I found an internship opportunity in UI/UX Advanced Engineering department at Daimler that prototypes on latest UI concept.
                Working closely with graphic designer, we bring the design to live. More recently, I am working on master thesis and getting ready for next adventure.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Po-Wen Kao</span><br>
						   <span>Stuttgart,<br>
						         Germany
                            </span><br>
                     <span>powen.kao.tw@gmail.com</span>
					   </p>

               </div>

{#               <div class="columns download">#}
{#                  <p>#}
{#                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>#}
{#                  </p>#}
{#               </div>#}

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

             {% if education_list %}
                 {% for education in education_list %}
                     <div class="row item">

                           <div class="twelve columns">

                              <h3>{{ education.university }}<span class="info"> - {{education.country}}</span></h3>
                              <p class="info">{{ education.major }} <span>&bull;</span> <em class="date">{{ education.start_date|date:"M Y" }} - {{ education.end_date|date:"M Y" }}</em></p>

                           </div>

                    </div> <!-- item end -->`
                 {% endfor %}
             {% endif %}



         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Experience
      ----------------------------------------------- -->
      <div class="row experience">

         <div class="three columns header-col">
            <h1><span>Experience</span></h1>
         </div>

         <div class="nine columns main-col">
             {% if experience_list %}
                 {% for experience in experience_list %}
                     <div class="row item">
                       <div class="twelve columns">
                          <h3>{{experience.title}} <span class="info"> - {{experience.department}}</span></h3>
                          <p class="info">{{ experience.position }} <span>&bull;</span>
                              <em class="date">{{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }}</em>
                          </p>
                          <pre>{{experience.description}}
                          </pre>

                       </div>
                     </div>
                 {% endfor %}
            {% endif %}

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill" id="skills">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Familiar with programming language from low-level C to object oriented language such as C++, Python and Java. Wide range of experience in various tools and frameworks.</p>
            {% regroup skill_list by get_category as category_list %}
            {% for category, skill_list in category_list %}
                <h3><span> {{ category.name }}</span></h3>
                <table class="skill-category" style="width: 100%; text-align: left">
                    {% if not category.collapse %}
                         {% for skill in skill_list|dictsortreversed:"level" %}
                            <tr>
                                <th style="width: 20%; text-align: right">
                                    <h4>{{ skill.name }} </h4>
                                </th>
                                <th >
                                    <a>{{ skill.framework_set.all|join:" | " }}</a>
                                </th>
                            </tr>
                       {% endfor %}
                    {% else %}
                        <tr>
                            {% for skill in skill_list|dictsortreversed:"level" %}
                                    <th style="width: 20%; text-align: right">
                                        <h4>{{ skill.name }} </h4>
                                    </th>
                           {% endfor %}
                        </tr>
                    {% endif %}
                </table>
            {% endfor %}


         </div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">
          <div class="three columns header-col">
              <h1><span>Portfolio</span></h1>
          </div>
          <div class="nine columns main-col">
              {% for port in portfolio_list %}
                  <div class="row portfolio-row">
                      <div class="twelve columns">
                          <a href="{{ port.link }}" style="display: block"></a>
                          <h2> {{ port.name }}</h2>
                          <div class="four columns header-col">
                              <img src="{{ port.image.url }}">
                          </div>
                          <div class="eight columns main-col">
                              <pre>{{port.description|safe}}</pre>
                          </div>
                      </div>
                      <div class="twelve columns portfolio-source-link">
                          <a href="{{ port.link }}" target="_blank" style="display: block">Source Code</a>
                      </div>
                  </div>
              {% endfor %}

              <div class="row collapsed portfolio-row">
                  <h3>Check Out other works on my <a href="https://gitlab.com/hp5588">Gitlab</a>.</h3>
              </div> <!-- twelve columns end -->
          </div>
      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.linkedin.com/in/powen-kao/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://gitlab.com/hp5588" target="_blank"><i class="fa fa-gitlab"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright {% now 'Y' %} Po-Wen Kao</li>
               <li>Derived from <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="{% static 'cv/js/jquery-1.10.2.min.js' %}"><\/script>')</script>
   <script type="text/javascript" src="{% static 'cv/js/jquery-migrate-1.2.1.min.js' %}"></script>

   <script src="{% static 'cv/js/jquery.flexslider.js' %}"></script>
   <script src="{% static 'cv/js/waypoints.js' %}"></script>
   <script src="{% static 'cv/js/jquery.fittext.js' %}"></script>
   <script src="{% static 'cv/js/magnific-popup.js' %}"></script>
   <script src="{% static 'cv/js/init.js' %}"></script>

</body>

</html>